/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap");

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(font-awesome.min.css);
@import url(owl.carousel.min.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #0eadef;
  --blue-color-2: #0192c8;
  --theme-background: #38c8a8;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 24px;
}

a {
  color: #222222;
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

.form-control:focus {
  border-color: var(--white-color) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.navbar-form input {
  border: none !important;
}

.badge {
  font-weight: 500;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding_2 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.light_silver {
  background: #f9f9f9;
}

.theme_bg {
  background: var(--theme-background);
}

.margin_top_30 {
  margin-top: 30px !important;
}

.full {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.blu {
  color: var(--blue-color);
}

.blu2 {
  color: #3a3aff;
  font-weight: bold;
}

.white {
  color: var(--white-color);
}

.max-height {
  height: max-content;
}

.navbar {
  min-height: 10vh;
}

.card {
  --bs-card-height: 100%;
}

.card-img-top {
  aspect-ratio: 1/1;
  object-fit: contain;
}

.svg-divider {
  position: absolute;
  width: 100%;
}

.list-group-item.active {
  border-color: var(--blue-color);
  background-color: var(--blue-color);
  z-index: 0;
}

/**-- heading section --**/

/*---------------------------- preloader area ----------------------------*/

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: var(--white-color);
  width: 100%;
  height: 100%;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 280px;
}

ul.btn {
  float: right;
}

ul.btn li {
  display: inline-block;
  padding: 0 25px;
}

ul.btn li a {
  color: var(--white-color);
  font-size: 16px;
}

ul.btn li:last-child {
  padding-right: 0;
}

.down_btn {
  padding-left: 50px;
}

.down_btn a {
  background-color: var(--white-color);
  display: inline-block;
  padding: 7px 35px;
  border-radius: 10px;
  color: #010a05 !important;
  font-size: 17px;
}

.down_btn a:hover {
  color: var(--white-color) !important;
  background: var(--black-color);
}

/*-- navbar area --*/

.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbar-overlay {
    display: none;
  }
}

.navbar-burger {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
  background: transparent;
}

@media only screen and (min-width: 600px) {
  .navbar-burger {
    display: none;
  }
}

.navbar-title {
  margin: 0;
  font-size: 16px;
}

.navbar-menu {
  padding: 42px 25px 20px 1.5rem;
  width: 270px;
  height: 100%;
  background: #fcfcfc;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  visibility: hidden;
  transition: translate 0.3s;
  translate: -100% 0;
  z-index: 3;
}

.navbar-menu button {
  float: left;
  min-width: 40px;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }
}

.navbar-menu > a {
  color: var(--black-color);
  background: transparent;
  right: 0;
  padding: 0 10px;
  font-size: 1.3rem;
}

.navbar-menu > a:hover {
  color: #00aeef !important;
  background: transparent;
}

.navbar-menu > button.active {
  color: inherit;
}

.dropdown-navbar {
  position: relative;
  display: inline-block;
  color: var(--bs-light-text) !important;
  background: transparent;
  right: 0;
}

.dropdown-navbar ~ a {
  color: var(--bs-light-text) !important;
}

.dropdown-navbar-content {
  border-radius: 0.375rem;
  padding-block: 0.5rem;
  width: min(210px);
  background-color: var(--white-color);
  display: none;
  position: absolute;
  left: 0;
  font-size: 1.1rem;
  z-index: 1;
}

.dropdown-navbar-content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: transparent;
  top: 0;
  left: 0;
}

.dropdown-navbar-content :is(a, [data-bs-toggle="dropdown"]) {
  padding: 0.25rem 1rem;
}

.dropdown-navbar-content :is(a, [data-bs-toggle="dropdown"]):hover {
  background-color: aliceblue;
}

.dropdown-navbar:hover .dropdown-navbar-content {
  display: block;
}

.dropdown-item {
  background: transparent;
}

.dropright {
  display: flex;
  flex-direction: column;
}

.dropend .dropdown-menu[data-bs-popper] {
  margin-top: -2.5rem;
  top: auto;
}

/*-- header area --*/

/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header::after {
  content: "";
  position: absolute;
  width: 558px;
  height: 228px;
  z-index: -1;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  background-color: var(--white-color);
  opacity: 90%;
  padding: 15px 30px;
  position: relative;
  z-index: 960;
}

.logo a {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-color);
  line-height: 10px;
}

.logo img {
  max-width: 80%;
  align-items: center;
}

/** banner section **/

.banner .banner_bg {
  padding-top: 1rem;
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  background: url(../images/iot.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: -9;
}

.banner .banner_bg .banner_information {
  margin: 1rem;
  border-radius: 1rem;
  position: relative;
  backdrop-filter: blur(0.3rem);
}

.banner .banner_bg .banner_information .banner_title {
  color: var(--white-color);
  position: relative;
  text-shadow: 0 0 10px var(--white-color), 0 0 15px var(--black-color);
}

.banner .banner_bg .banner_information .banner_title::before {
  content: "";
  margin-bottom: -0.5rem;
  width: min(100%, 43vw);
  height: 5px;
  background-color: #382d3c;
  position: absolute;
  left: 1rem;
  bottom: 0;
}

.banner .banner_bg .banner_information .banner_text {
  padding: 1.25rem;
  color: var(--white-color);
  font-size: 1.1rem;
  line-height: 2rem;
}

/** banner section **/

.titlepage {
  padding: 0;
  color: #382d3c;
  font-size: 45px;
  line-height: 55px;
}

/* .read_more {
  font-size: 16px;
  background-color: transparent;
  border: #00aeef solid 5px;
  color: #010a05 !important;
  padding: 10px 0px;
  width: 100%;
  max-width: 190px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.2s;
  border-radius: 40px;
  font-weight: 500;
}

.read_more:hover {
  background: #00aeef;
  color: var(--white-color) !important;
  transition: ease-in all 0.2s;
} */

/** about section **/

/* .about {
  padding-block: 4rem;
  background: #fafafa;
}

.about .titlepage {
  text-align: left;
  padding: 0;
  max-width: 669px;
  width: 100%;
  float: left;
}

.about .titlepage h2 {
  margin-bottom: 40px;
}

.about .titlepage p {
  color: #010a05;
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  padding-bottom: 50px;
}

.about .read_more {
  float: right;
}

.about_img figure {
  margin: 0;
}

.about_img figure img {
  width: 100%;
} */

/** end about section **/

/** choose  section **/

.choose_bg {
  background: url(../images/why.jpg);
  padding: 30px 0;
}

.choose .choose_box {
  background: var(--white-color);
  padding: 35px 35px;
  text-align: center;
}

.choose .choose_box span {
  color: #141629;
  display: block;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.choose .choose_box h3 {
  color: #00aeef;
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 15px;
}

.choose .choose_box p {
  color: #010a05;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.choose .easy li a {
  font-size: 27px;
  padding: 18px 21px;
  width: 100%;
  line-height: 36px;
  margin-bottom: 35px;
  display: block;
}

.choose .easy li:last-child a {
  margin-bottom: 0;
}

.choose .easy :is(li.active a, li a:hover) {
  background-color: #060505;
  color: var(--white-color);
}

/** end choose  section **/

/** request section **/

.request {
  background-color: var(--blue-color-2);
}

.request .titlepage {
  text-align: left;
}

.main_form .contactus {
  margin-bottom: 30px;
  border: inherit;
  border-radius: 20px;
  padding: 0px 30px;
  width: 100%;
  height: 60px;
  background-color: var(--white-color);
  color: #777977;
  font-size: 18px;
}

.main_form .textarea {
  margin-bottom: 30px;
  border: inherit;
  border-radius: 10px;
  padding: 8px 30px;
  width: 100%;
  color: #777977;
  font-size: 18px;
}

.main_form .send_btn {
  font-size: 17px;
  transition: 0.2s ease-in;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 13px 0px;
  max-width: 200px;
  width: 100%;
  display: block;
  border-radius: 30px;
  margin: 0 auto;
}

.main_form .send_btn:hover {
  background-color: #191e20;
  color: var(--white-color);
}

#request *::placeholder {
  color: #777977;
  opacity: 1;
}

#map {
  height: 425px;
  overflow: hidden;
  padding-bottom: 22.25%;
  padding-top: 30px;
  position: relative;
}

/** end request section **/

/** about page **/

.about_page .titlepage h1 {
  text-align: center;
  font-size: 40px;
}

.about_page :is(.up_bg, .banner, .mid_bg) {
  padding-top: 1.2rem;
  background: url(../images/bg.jpg);
}

.about_page p {
  font-size: 1.1rem;
}

.about_page .desc_image {
  padding-top: 2rem;
}
/** end about page **/

/**
  * Product Page
  *
*/

/* .checkbox-filter {
  margin-right: 2rem;
}

.card-product.row,
.card-product.row > * {
  padding-inline: 0;
}

.card-product .product-item {
  flex: 0 0 auto;
  width: 19%;
} */

.card-product .product-item .card .card-body .card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

/**
  * Detail Product Page
  *
*/

.product-image {
  mix-blend-mode: multiply;
}

.product-detail hr {
  border-color: var(--blue-color-2);
}

.product-detail .price {
  padding: 0.75rem 0.5rem;
  border: 1px solid gainsboro;
  display: inline-block;
  border-radius: 10px;
}

.product-detail .description p {
  text-align: justify;
  font-weight: normal;
}

.product-detail .description ul li {
  list-style: inside;
}

/**
  * Footer 
  *
*/

.footer {
  padding-top: 2.5rem;
  background: #212120;
}

.footer h1 {
  color: var(--white-color);
  padding-bottom: 20px;
}

.footer .footer-location_icon li {
  font-size: 18px;
  text-align: left;
  padding-right: 40px;
  color: var(--white-color);
}

.footer .footer-social_icon li {
  display: block;
  padding-bottom: 11px;
}

.footer .footer-social_icon li a {
  font-size: 18px;
  color: var(--white-color);
  display: flex;
  align-items: center;
}

.footer .footer-social_icon li:hover :is(a, i) {
  color: var(--blue-color);
}

.footer .footer-social_icon li a i {
  background-color: var(--white-color);
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 30px;
  color: var(--black-color);
}

.footer .footer-newsletter_form h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: var(--white-color);
  padding-bottom: 15px;
}

.footer .footer-newsletter_form .footer-newsletter_form--input {
  border: inherit;
  padding: 0px 19px;
  width: 100%;
  height: 53px;
  background-color: var(--white-color);
  color: #828282;
  font-size: 17px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.footer .footer-newsletter_form .subscribe_btn {
  font-size: 19px;
  transition: ease-in all 0.2s;
  background-color: var(--blue-color-2);
  color: var(--white-color);
  padding: 11px 0px;
  max-width: 175px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  border-radius: 10px;
  border: inherit;
  box-shadow: inherit;
}

.footer .footer-newsletter_form .subscribe_btn:hover {
  background-color: #0156ed;
  transition: ease-in all 0.2s;
  color: var(--white-color);
}

.footer .copyright {
  margin-top: 30px;
  padding: 25px 0;
  background: var(--blue-color-2);
}

.footer .copyright p {
  font-size: 17px;
  line-height: 22px;
}

/** end footer **/
